<mat-drawer-container>
    <mat-drawer class="mat-elevation-z1"
                mode="side" 
                opened="true"
                #drawer>
      
      <mat-toolbar class="drawer-toolbar">
        <span>Cases</span>
        <button mat-icon-button
                (click)=drawer.close()>
          <mat-icon class="icon-close"></mat-icon>
        </button>
      </mat-toolbar>
      <div class="drawer-contents">
        <p>
          This is the case drawer
        </p>
        <rt-drawer-content></rt-drawer-content>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <button mat-icon-button
              *ngIf="!drawer.opened"
              (click)="drawer.toggle()">
        <mat-icon class="icon-menu"></mat-icon>
      </button>
      <rt-case-focus></rt-case-focus>
    </mat-drawer-content>
  </mat-drawer-container>